<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	" http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjtuhc.demo.mapper.UserMapper">
<!-- mapper namespace="ssm.mapper.UserMapper" 对应的接口"ssm.mapper.UserMapper
	 <resultMap type="ssm.model.SysUser" id="user_Map" 类型是ssm.model.SysUser 连接user_Map
	 <result column="username" 数据库属性 property="username" JAVA名称 javaType="java.lang.String" JAVA类型 jdbcType="VARCHAR" 数据库类型/>
	 <select id="selectuserByUsername" 接口方法名称 parameterType="java.lang.String"JAVA类型 resultMap="user_Map"连接ID>
	 -->
	  
	  
	  
	  
	<resultMap type="edu.swjtuhc.demo.model.SysUser" id="user_Map">
		<result column="username" property="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="userPassword" property="userPassword" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="userAge" property="userAge" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result column="userBirthday" property="userBirthday" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
		<result column="userBlood" property="userBlood" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="userLocal" property="userLocal" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="uerConstellation" property="uerConstellation" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="userSchool" property="userSchool" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="userEmail" property="userEmail" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="userPhone" property="userPhone" javaType="java.lang.Integer" jdbcType="INTEGER"/>
	</resultMap>
	<select id="selectAllUsers" resultMap="user_Map">
		select * from bbsuser
	</select>
	<insert id="chaRuUser" parameterType="edu.swjtuhc.demo.model.SysUser">
		INSERT INTO bbsuser
		(userName,userPassword,userEmail,userPhone)
		VALUES 
		(#{username},#{userPassword},#{userEmail},#{userPhone})
	</insert>
	<select id="userLogin" resultMap="user_Map">
		select * from bbsuser where username=#{username}
	</select>
	
</mapper>